* {
    margin: 0;
    padding: 0;
    -wibkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
   scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-image: url(backk.png);
    background-size:15%;
}
header{
    position: sticky;
    top:0;
    z-index: 3;
    background-color: rgb(9, 12, 12);
    height: 130px;
    width: auto;
   
}
.picture {
    display: block;
    margin: 0 auto;
    padding: 0px;
    height: 115px;
}

.base {
    height: 65px;
}
.underbase{
    background-color: rgb(9, 12, 12);
    height: 30px;
    margin-bottom: 0%;
    margin-top: 10px;
}
.based{
    width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 0px;
    height: 40px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
	width: auto;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
nav ul li {
    list-style-type: none;
	transition: 0.2s;

}
nav ul li:hover {
    list-style-type: none;
	text-shadow: -1px -1px 3px white, 0 0 3em white;
	transition: 0.2s;
}
nav ul li a {
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.aut {
   background-color:rgb(9, 12, 12) ;
   margin:0 auto;
   text-align: center;
   height: 25px;
}
.aut a {
    margin-top: 10px;
   margin:0 auto;
   text-decoration: none;
   font-size: 14px;
   color: #ffffff;
}
.aut a:hover {
    list-style-type: none;
	text-shadow: -1px -1px 3px white, 0 0 3em white;
	transition: 0.2s;  
}	
.first_info{

    max-width: 1300px;
    height:auto ;
    margin: 0 auto;
    margin-bottom: 300px;
    margin-top:200px ;
}
.first_into{
    
    background-color: rgba(0, 0, 0, 0.918);
   border-radius: 20px;
    max-width: 1300px;
    height:auto ;
    margin: 0 auto;
    margin-left: 15px;
    margin-top:200px ;


}
.first_into p {
    
    color: #ffffff;
    font-size: 25px;
    padding: 20px;
    margin: left 20px;

}

h4 {
    text-align: center;
    font-size: 50px;
    color: #030202;
}
.text_one {
    padding:60px;
    margin-left:30px ;
    margin-right:15px ;
}
.introsecond {
    text-align: center;
    font-size: 50px;
    color: #030202;
}
.introfirst {
    text-align: center;
    font-size: 50px;
    color: #030202;
}
.second_info {
    max-width: 1300px;
    height:auto ;
    margin: 0 auto;
    margin-top:300px ;
}
.second_into {
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 20px;
     max-width: 1300px;
     height:auto ;
     margin: 0 auto;
     margin-left: 15px;
     margin-top:150px ;
     padding:25px;
}

.second_into p {
    color: #000000;
    font-size: 30px;
    padding: 20px;
    margin: left 20px;

}
span {
    color: #f37fda;
}

.primer{
    max-width: 1285px;
    height:auto ;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top:15px ;
}
.aboutnike {
    justify-content: space-between;
    margin: 0;
    padding: 50px;
    display: flex;
	width: auto;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.aboutnike p{
    margin:0px;
    padding:30px;
    color:#ffffff;
}
.intonike {
    background-color:rgb(9, 12, 12) ;
    border-radius: 20px;
}
.intonike {
    font-size:22px ;
}
.graf{
    max-width: 1300px;
    height:auto ;
    margin: 0 auto;
    margin-bottom: 200px;
}
.graf p {
    text-align: center;
    font-size: 50px;
    color: #030202;
}
.grafsetting  {
     margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    
    
}
.forpicture {
    margin-top: 200px;
    margin-bottom: 150px;
}
.force {
    width:350px ;
    height:350px ;
    border:9px solid rgba(0, 0, 0, 0.918) ;
    border-radius: 15px;
}  
.dop {
    margin:0 auto;
}
.contact_fon {
    position: relative;
    padding: 20px 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}
.section_title {
    margin-bottom: 100px;
}
.section_title p {
    text-align: center;
    font-size: 50px;
    color: #030202;
}
footer{
    position: relative;
    padding: 70px 0;
    background-color: rgb(9, 12, 12);
}
footer p{
    text-align: center;
    color: rgb(255, 255, 255);
}
div.scrollup {
    border: 1px solid;
    border-color: #000000;
    text-decoration: none;
    list-style-type: none;
    position: fixed; /* фиксированная позиция */
    background-color: #ffffff; /* цвет заднего фона */
    right: 30px; /* расстояние от правого края */
    bottom: 40px; /* расстояние от нижнего края */
    padding: 4px 10px; /* отступы до содержимого блока */
    font-size: 20px; /* размер шрифта (иконки) */
    border-radius: 50px; 
    text-align: center; 
  }
  div.scrollup a {
    text-decoration: none;
    color:#000000;
  }
  div.scrollup:hover {
    border: 2px solid ;
    border-color: #000000;
    background-color: rgba(255, 255, 255, 0.795); /* цвет заднего фона при наведении */
    text-shadow: 0px 1px 1px rgb(7, 7, 7), 0 0 1em rgb(0, 0, 0);
	transition: 0.175s;
  }
  .copy {
    
    border-radius: 20px;
     max-width: 1300px;
     height:auto ;
     margin: 0 auto;
     margin-bottom: 250px;
  }
  .text_one a {
      text-decoration: none;
      color:#f37fda;
  }
  .text_one a:hover {
    list-style-type: none;
	text-shadow: 1px 1px 1px #f37fda, 0 0 9em rgba(255, 255, 255, 0.315);
	transition: 0.2s;
  }
